.bg-primary{
    background-color: #283593!important;
}

.bg-secondary{
    background-color: #c5cae9!important;
}

.bg-info{
    background-color: #e8eaf6!important;
}

.text-primary{
    color: #283593!important;
}